.dropdown-menu {
  background: red;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}
.dropdown-menu li {
  background: #6d7c8d;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #1888ff;
}
@media screen and (max-width: 960px) {
  .dropdown-menu {
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 310px;
  }
  .dropdown-menu li {
    background: #6d7c8d;
    cursor: pointer;
  }
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
